@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

p {
  font-size: 20px;
  color: #4f465b;
  margin: 15px 0px 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

a {
  text-decoration: none;
  color: black;
}

#header {
  display: flex;
  background-color: rgb(221, 221, 221);
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  position: sticky;
  left: 0;
  top: 0;
  padding: 0 10px 0 40px;
  height: 90px;
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.43);
  -webkit-box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.43);
}
#header h1 {
  font-size: 27px;
  min-width: 80px;
  margin-right: 20px;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  display: none;
}
#navbar li {
  list-style: none;
  padding: 0 10px;
  margin: 0px;
  position: relative;
}
#navbar li a {
  font-size: 17px;
  font-weight: 600;
  color: #1a1a1a;
}
#navbar li a:hover {
  color: rgb(99, 0, 238);
}
#navbar li a.active {
  color: rgb(99, 0, 238);
}
#navbar li a.active::after,
#navbar li a:hover:after {
  content: "";
  width: 35%;
  height: 2px;
  background: rgb(99, 0, 238);
  position: absolute;
  bottom: -4px;
  left: 10px;
}
#navbar .login {
  background-color: rgb(183, 183, 183);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 60px;
  margin-left: 20px;
  margin-right: 10px;
}
#navbar .login a {
  display: flex;
  font-size: 18px;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  font-weight: 700;
  transition: 0.2s ease;
}
#navbar .login a i {
  margin-right: 10px;
}
#navbar .login a:hover {
  color: rgb(99, 0, 238);
}

#mobile {
  display: none;
  align-items: center;
}

#hero {
  background-color: rgb(221, 221, 221);
  display: flex;
  justify-content: space-around;
  padding: 122px 40px;
  margin-bottom: 40px;
}
#hero .left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-right: 20px;
}
#hero .left h1 {
  color: rgb(99, 0, 238);
}
#hero .left p {
  margin-bottom: 60px;
}
#hero .right {
  position: relative;
  aspect-ratio: 1/1;
  width: 90%;
  max-width: 60vh;
}
#hero .right img {
  border-radius: 40px;
  box-shadow: 0px 0px 18px -2px rgba(0, 0, 0, 0.43);
  -webkit-box-shadow: 0px 0px 18px -2px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 0px 0px 18px -2px rgba(0, 0, 0, 0.43);
}
#hero .right #photo1 {
  position: absolute;
  aspect-ratio: 1/1;
  top: 0;
  left: 0;
  height: 58%;
}
#hero .right #photo2 {
  position: absolute;
  aspect-ratio: 1/1;
  bottom: 0;
  right: 0;
  height: 58%;
}

#product1 {
  text-align: center;
}
#product1 .pro-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#product1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: solid 1px #d7cce7;
  border-radius: 25px;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  -webkit-box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  -moz-box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0px;
  transition: 0.2s ease;
  position: relative;
}
#product1 .pro img {
  width: 100%;
  border-radius: 20px;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.5) inset;
  -webkit-box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.5) inset;
  -moz-box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.5) inset;
}
#product1 .pro .des {
  text-align: start;
  padding: 10px 0;
}
#product1 .pro .des span {
  color: #606063;
  font-size: 12px;
}
#product1 .pro .des h5 {
  font-size: 20px;
  padding-top: 7px;
  color: #1a1a1a;
}
#product1 .pro .des i {
  font-size: 14px;
  color: rgb(255, 204, 0);
  display: none;
}
#product1 .pro .des h4 {
  padding-top: 7px;
  font-size: 17px;
  font-weight: 700;
  color: rgb(99, 0, 238);
}
#product1 .pro .cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #f0e8f6;
  color: rgb(99, 0, 238);
  border: 1px solid #d7cce7;
  position: absolute;
  right: 20px;
  bottom: 20px;
  display: none;
}
#product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#banner {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: black;
}
#banner h2 {
  color: white;
  margin: 40px;
  text-align: center;
  font-size: 40px;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer h4 {
  font-size: 18px;
  padding-bottom: 20px;
}
footer .logo {
  margin-bottom: 20px;
}
footer p {
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 0px;
}
footer a {
  margin-bottom: 10px;
}
footer .col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  padding-right: 20px;
}
footer h2 {
  font-size: 30px;
}
footer button {
  border-radius: 20px;
  margin: 10px 0 10px 0;
  background-color: rgb(240, 240, 240);
  border: black solid 1.5px;
}
footer button a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-bottom: 0px;
}
footer button a i {
  font-size: 20px;
  margin-right: 10px;
}
footer button a h4 {
  font-size: 16px;
  padding-bottom: 0px;
}
footer button:hover {
  background-color: rgb(220, 220, 220);
}

@media (max-width: 799px) {
  #hero {
    flex-wrap: wrap;
    padding-bottom: 0px;
    padding-top: 61px;
  }
  #hero .left {
    margin-right: 0;
  }
  #hero .left h1 {
    font-size: 37.5px;
    line-height: 48px;
  }
  #hero .left h2 {
    font-size: 35.5px;
    line-height: 40.5px;
    color: #222;
  }
  #hero .left h4 {
    font-size: 15px;
    color: #222;
  }
  #hero .left p {
    font-size: 15px;
    color: #4f465b;
    margin: 15px 0px 0px 0;
  }
  #hero .right {
    position: relative;
    aspect-ratio: none;
    width: 95%;
    height: 100%;
  }
  #hero .right img {
    border-radius: 40px;
    box-shadow: 0px 0px 18px -2px rgba(0, 0, 0, 0.43);
    -webkit-box-shadow: 0px 0px 18px -2px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: 0px 0px 18px -2px rgba(0, 0, 0, 0.43);
  }
  #hero .right #photo1 {
    position: absolute;
    aspect-ratio: 1/1;
    top: 12.5%;
    left: 0;
    height: 58%;
  }
  #hero .right #photo2 {
    position: absolute;
    aspect-ratio: 1/1;
    top: 25%;
    right: 0;
    height: 58%;
  }
  #mobile {
    display: none;
  }
  #navbar {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 280px;
    background-color: #e9e3f3;
    box-shadow: 0px 40px 60px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 40px 60px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 40px 60px rgba(0, 0, 0, 0.1);
    padding: 20px 0 0 10px;
  }
  #navbar #li-login {
    margin-bottom: 40px;
  }
  #navbar li:not(#li-login) {
    margin-bottom: 25px;
    align-self: flex-start;
  }
  #navbar .login {
    width: 220px;
    height: 50px;
    border-radius: 15px;
    margin-left: 5px;
  }
  #navbar .login a {
    font-size: 18px;
    font-weight: 600;
  }
  #navbar .login i {
    font-size: 18px;
  }
}/*# sourceMappingURL=style.css.map */